@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-100: rgba(224, 224, 224, 1);
  --color-gray-150: rgba(250, 250, 250, 1);
  --color-primary-160: rgba(218, 218, 218, 1);
  --color-gray-200: rgba(157, 157, 157, 1);
  --color-primary-600: rgba(72, 72, 72, 1);
}

body {
  background-color: rgba(245, 245, 245, 1);
}

.base-layout {
  max-width: 1819px;
  margin: 0 auto;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0 10px;
  color: #888;
  font-weight: bold;
  font-size: 14px;
}

.outline-text {
  -webkit-text-stroke: 2px var(--color-primary-600);
}

.timing-wrapper {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 10px;
}
